.container {
    width: 80vw;
    padding: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    form {
        width: 100%;
    }
}

.actions {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
}
